*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 20px 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
#logo{
    width: 100px;
}
#search{
    border: none;
    outline: none;
    font-size: 15px;
    height: 30px;
}
.compte{
    display: flex;
    align-items: center;
    border: 2px solid gray ;
    border-radius: 15px;
}
.globe{
    height: 30px;
}
.acc{
    height: 24px;
}
main{
    padding: 32px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}
.cityBox{
    display: flex;
    align-items: center;
    margin: 20px 8px 8px;
}
.cityBox:hover{
    background-color: rgba(211, 211, 211, 0.298);
    border-radius: 10px;
    transform: scale(1.05);
    transition: .2s ease-out;
}
.city{
    height: 64px;
    width: 64px;
    border-radius: 10px;
    overflow: hidden;
}
.city_img{
    width: 100%;
    height: 100%;
}
.info{
    padding: 0 15px;
}
h2, .gray{
    font-weight: 400;
    font-size: 17px;
}
.gray{
    color: rgba(128, 128, 128, 0.813);
}
/* tab-size: 4;
-webkit-text-size-adjust: 100%;
font-family: inherit;
line-height: inherit;
box-sizing: border-box;
border: 0 solid;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
--tw-border-opacity: 1;
border-color: rgba(229,231,235,var(--tw-border-opacity));
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
cursor: url(chrome-extension://ckejmhbmlajgoklhgbapkiccekfoccmk/assets/pictos/cursor.png) 17 17, pointer !important;
margin: .5rem;
margin-top: 1.25rem;
display: flex;
transform: var(--tw-transform);
align-items: center;
border-radius: .75rem;
transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
transition-duration: .2s;
transition-timing-function: cubic-bezier(0,0,.2,1); */